{% extends 'core/base/base.html' %}
{% load static %}
{% block content %}
<style>
.team-flag {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
</style>

<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-8">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                        <div class="invalid-feedback">{{ field.errors }}</div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}