{% extends 'core/base/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<style>
.table-container {
    overflow-x: auto;
}

.team-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: adds an ellipsis (...) for overflow */
    max-width: 200px; /* Optional: set a maximum width for the cell */
}

.team-flag {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

colgroup col.color1 {
  background-color: rgba(255, 0, 0, 0.05); /* Red */
}

colgroup col.color2 {
  background-color: rgba(0, 0, 255, 0.05); /* Blue */
}

colgroup col.color3 {
  background-color: rgba(0, 255, 0, 0.05); /* Green */
}

colgroup col.color4 {
  background-color: rgba(128, 0, 128, 0.05); /* Purple */
}

colgroup col.color5 {
  background-color: rgba(255, 255, 0, 0.05); /* Yellow */
}
</style>

<div class="container">



    <div class="text-center mt-5">
        <h1 class="mb-5">1. část {% if not started %}<a class="btn btn-success" href="{% url 'iihf-match-tip' year=year %}">Vyplnit svoje tipy</a>{% endif %}</h1>
        <div class="table-container">
            <table class="table table-hover mb-5">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                </colgroup>
              <thead>
                <tr>
                  <th scope="col">Hra</th>
                  <th scope="col">Datum</th>
                  <th scope="col">Výsledek</th>
                  {% for user in users %}
                    <th scope="col">{{ user.name }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>

                {% for match in match_list %}
                <tr>
                  <th scope="row" class="team-cell">
                    <img src="{{ match.team_a.flag.url }}" class="team-flag"> {{ match.team_a.name }} - {{ match.team_b.name }} <img src="{{ match.team_b.flag.url }}" class="team-flag">
                  </th>
                  <td><small>{{ match.date|date:"j. E H:i" }}</small></td>
                  <td>
                      {% if match.score_a != None and match.score_b != None %}
                          {% if match.score_a != match.score_a_final or match.score_b != match.score_b_final %}
                            {{ match.score_a_final }}:{{ match.score_b_final }}
                          {% else %}
                            {{ match.score_a }}:{{ match.score_b }}
                          {% endif %}
                          {% if match.overtime %}p{% endif %}
                          {% if match.shootout %}sn{% endif %}
                      {% endif %}
                  </td>
                  {% for user in users %}
                    <td>
                      {% for match_tip in all_match_tips %}
                        {% if match_tip.user == user and match_tip.match == match %}
                        {% if request.user == user or started %}
                          {% if match.score_a or match.score_b is not null %}
                            {% if match_tip.score_a == match.score_a and match_tip.score_b == match.score_b %}<b><u>{{ match_tip.score_a }}:{{ match_tip.score_b }}</u></b>
                            {% elif match.score_a > match.score_b and match_tip.score_a > match_tip.score_b %}<b>{{ match_tip.score_a }}:{{ match_tip.score_b }}</b>
                            {% elif match.score_a < match.score_b and match_tip.score_a < match_tip.score_b %}<b>{{ match_tip.score_a }}:{{ match_tip.score_b }}</b>
                            {% elif match.score_a == match.score_b and match_tip.score_a == match_tip.score_b %}<b>{{ match_tip.score_a }}:{{ match_tip.score_b }}</b>
                            {% else %}
                            {{ match_tip.score_a }}:{{ match_tip.score_b }}{% endif %}
                          {% else %}
                            <i>{{ match_tip.score_a }}:{{ match_tip.score_b }}</i>
                          {% endif %}
                        {% else %}
                        ???
                        {% endif %}
                        {% endif %}
                      {% endfor %}
                    </td>
                  {% endfor %}
                </tr>
                {% endfor %}

              </tbody>
              <tfoot>
                <tr>
                  <th scope="col">Celkem</th>
                  <td></td>
                  <td></td>
                  {% for user in users %}
                    <th scope="col">
                        {% for points in user_points_a %}
                        {% if points.user == user %}
                                {{ points.points }}
                        {% endif %}
                        {% endfor %}
                    </th>
                    {% endfor %}
                </tr>
              </tfoot>
            </table>
        </div>
    </div>

    <div class="text-center mt-5">
        <h1 class="mb-5">2. část {% if not started %}<a class="btn btn-success" href="{% url 'iihf-special-tip' year=year %}">Vyplnit svoje tipy</a>{% endif %}</h1>
        <div class="table-container">
            <table class="table table-hover mb-5">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                </colgroup>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Bodů</th>
                  <th scope="col">Výsledek</th>
                  {% for user in users %}
                    <th scope="col">{{ user.name }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vítěz</td>
                  <td>24</td>
                  <td>{{ special.winner.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.winner.name }}
                            {% elif tip.winner %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Finalista 1</td>
                  <td>16</td>
                  <td>{{ special.final_a.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.final_a.name }}
                            {% elif tip.final_a %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Finalista 2</td>
                  <td>16</td>
                  <td>{{ special.final_b.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.final_b.name }}
                            {% elif tip.final_b %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Tým 1, který se utká o bronz</td>
                  <td>12</td>
                  <td>{{ special.bronze_a.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.bronze_a.name }}
                            {% elif tip.bronze_a %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Tým 2, který se utká o bronz</td>
                  <td>12</td>
                  <td>{{ special.bronze_b.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.bronze_b.name }}
                            {% elif tip.bronze_b %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Český střelec 1. gólu</td>
                  <td>12</td>
                  <td>{{ special.czech_shooter_first }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.czech_shooter_first }}
                            {% elif tip.czech_shooter_first %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Český střelec posledního gólu</td>
                  <td>12</td>
                  <td>{{ special.czech_shooter_last }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.czech_shooter_last }}
                            {% elif tip.czech_shooter_last %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Nejvíce branek v jednom utkání (dohromady)</td>
                  <td>12</td>
                  <td>{{ special.max_goals_per_game }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.max_goals_per_game }}
                            {% elif tip.max_goals_per_game %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Vítěz skupiny A</td>
                  <td>9</td>
                  <td>{{ special.group_a_1.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.group_a_1.name }}
                            {% elif tip.group_a_1 %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Vítěz skupiny B</td>
                  <td>9</td>
                  <td>{{ special.group_b_1.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.group_b_1.name }}
                            {% elif tip.group_b_1 %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>2. místo ve skupině A</td>
                  <td>6</td>
                  <td>{{ special.group_a_2.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.group_a_2.name }}
                            {% elif tip.group_a_2 %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>2. místo ve skupině B</td>
                  <td>6</td>
                  <td>{{ special.group_b_2.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.group_b_2.name }}
                            {% elif tip.group_b_2 %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>3. místo ve skupině A</td>
                  <td>6</td>
                  <td>{{ special.group_a_3.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.group_a_3.name }}
                            {% elif tip.group_a_3 %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>3. místo ve skupině B</td>
                  <td>6</td>
                  <td>{{ special.group_b_3.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.group_b_3.name }}
                            {% elif tip.group_b_3 %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>4. místo ve skupině A</td>
                  <td>6</td>
                  <td>{{ special.group_a_4.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.group_a_4.name }}
                            {% elif tip.group_a_4 %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>4. místo ve skupině B</td>
                  <td>6</td>
                  <td>{{ special.group_b_4.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.group_b_4.name }}
                            {% elif tip.group_b_4 %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Tým, který vstřelí nejvíce branek (celkem na MS)</td>
                  <td>12</td>
                  <td>{{ special.team_most_goals.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.team_most_goals.name }}
                            {% elif tip.team_most_goals %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Tým, který obdrží nejméně branek (celkem na MS)</td>
                  <td>12</td>
                  <td>{{ special.team_least_goals.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.team_least_goals.name }}
                            {% elif tip.team_least_goals %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Tým, který vstřelí první branku na MS</td>
                  <td>3</td>
                  <td>{{ special.team_first_goal.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.team_first_goal.name }}
                            {% elif tip.team_first_goal %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Tým, který vstřelí poslední branku na MS</td>
                  <td>12</td>
                  <td>{{ special.team_last_goal.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.team_last_goal.name }}
                            {% elif tip.team_last_goal %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Tým, který sestoupí ve skupině A</td>
                  <td>6</td>
                  <td>{{ special.team_drop_a.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.team_drop_a.name }}
                            {% elif tip.team_drop_a %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Tým, který sestoupí ve skupině B</td>
                  <td>6</td>
                  <td>{{ special.team_drop_b.name }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.team_drop_b.name }}
                            {% elif tip.team_drop_b %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Počet remíz/prodloužení (celkem za MS)</td>
                  <td>24</td>
                  <td>{{ special.overtimes }}</td>
                    {% for user in users %}
                    <td scope="col">
                        {% for tip in special_tips %}
                        {% if tip.user == user %}
                            {% if request.user == user or started %}
                                {{ tip.overtimes }}
                            {% elif tip.overtimes %}
                            ???
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col">Celkem</th>
                  <td></td>
                  <td></td>
                    {% for user in users %}
                    <th scope="col">
                        {% for points in user_points_b %}
                        {% if points.user == user %}
                                {{ points.points }}
                        {% endif %}
                        {% endfor %}
                    </th>
                    {% endfor %}
                </tr>
              </tfoot>
            </table>
        </div>
    </div>

    <div class="text-center mt-5">
        <h1 class="mb-5">Součty bodů</h1>
        <div class="table-container">
            <table class="table table-hover mb-5">
                <colgroup>
                    <col>
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                    <col span="1" class="color1">
                    <col span="1" class="color2">
                    <col span="1" class="color3">
                    <col span="1" class="color4">
                    <col span="1" class="color5">
                </colgroup>
              <thead>
                <tr>
                  <th scope="col"></th>
                  {% for user in users %}
                    <th scope="col">{{ user.name }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">1. část</th>
                    {% for user in users %}
                    <td scope="col">
                        {% for points in user_points_a %}
                        {% if points.user == user %}
                                {{ points.points }}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="col">2. část</th>
                    {% for user in users %}
                    <td scope="col">
                        {% for points in user_points_b %}
                        {% if points.user == user %}
                                {{ points.points }}
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                  <th scope="col">celkem</th>
                    {% for user in users %}
                    <th scope="col">
                        {% for points in user_points_c %}
                        {% if points.user == user %}
                                {{ points.points }}
                        {% endif %}
                        {% endfor %}
                    </th>
                    {% endfor %}
                </tr>
              </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock content %}
