{% extends 'core/base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="text-center mt-5">
        <h1 class="mb-5">Žebříček</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Pořadí</th>
              <th scope="col">Jméno</th>
              <th scope="col">1. část</th>
              <th scope="col">2. část</th>
              <th scope="col">Celkem</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <th scope="row">
                {{ forloop.counter }}
              </th>
              <td>{{ user.name }}</td>
              <td>
              {% for points in user_points_a %}
                {% if points.user == user %}
                    {{ points.points }}
                {% endif %}
              {% endfor %}
              </td>
              <td>
              {% for points in user_points_b %}
                {% if points.user == user %}
                    {{ points.points }}
                {% endif %}
              {% endfor %}
              </td>
              <th>
              {% for points in user_points_c %}
                {% if points.user == user %}
                    {{ points.points }}
                {% endif %}
              {% endfor %}
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock content %}
